<% provide(:title, @user.name) %>
<div class="row">
<div class="col-md-1"></div>
<div align="left" class="col-md-3">
<%= render 'shared/user_info'%>
<%= render 'shared/stats'%>
</div>

<div class="col-md-8" align="left">
<%= render 'follow_form' if logged_in? %>
<% if @user.microposts.any? %>
<h3 algin="left">Microposts (<%= @user.microposts.count %>)</h3>

<%= render @microposts %>


<% end %>
</div> 
</div>
